*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset */
body{
    font-family: "Montserrat",sans-serif;
    line-height: 1.24;
    color: #3D3A38;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Poppins', sans-serif;
}

/* utils */
.sections-title{
    font-size: 3.5rem;
}

/* navbar */
.navbar-toggler-icon{
    background-image: none;
}

/* jumbo */
.jumbo-img{
    height: 85vh;
}

.jumbo-content{
    background-image: url('../img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-item{
    height: 85vh;
}

.jumbo-title{
    font-size: 4rem;
}

.jumbo-paragraph{
    padding: 0 1.5rem;
}

.btn-outline-custom{
    outline: 1px solid #3D3A38;
}

.btn-outline-custom:hover{
    background-color: black;
    color: white;
}

.stars{
    color: #fdbd0a;
}

.duck-price{
    color: #04DF6C;
}

.bg-section-paperelle{
    background-color: #f5f5f5;
}

/* personalizzazione accordion */
.accordion-button::after{
    content: url('../svg/plus-lg.svg');
    background-image: none;
    transition: none;
    vertical-align: middle;
}

.accordion-button:not(.collapsed)::after{
    content: url('../svg/dash-lg.svg');
    background-image: none;
    transition: none;
    vertical-align: middle;
}

.accordion-button:focus{
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    color: inherit;
    background-color: transparent;
    border-bottom: 1px solid #dee2e6;
}

.accordion-item{
    border-color: transparent;
}
/* media query */
@media screen and (min-width:992px) {
    .jumbo-paragraph {
        padding: 0 2.5rem;
    }
    /* sezione i punti di forza */
    .px-paragraph{
        padding: 0 5.5rem;
    }
    
    .px-title{
        padding: 0 4.5rem;
    }
}
@media screen and (min-width:1200px) {
    .jumbo-paragraph {
            padding: 0 5.5rem;
        }
}
@media screen and (min-width:1400px) {
    .jumbo-paragraph {
        padding: 0 10.5rem;
    }
}